<form>
    <div class="container">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Regions</label>

            <div class="col-sm-10">

                <tags-input id="regionsSelect" class="bootstrap" ng-model="regions" min-tags="1" add-from-autocomplete-only="true"
                            add-on-paste="true" replace-spaces-with-dashes="false" placeholder="Add a region">
                    <auto-complete source="allRegions($query)" min-length="2"></auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">From Systems</label>
            <tags-input id="fromSystems" class="bootstrap col-sm-10" ng-model="systems" min-tags="1"
                        add-from-autocomplete-only="true" add-on-paste="true" replace-spaces-with-dashes="false" placeholder="Add a system">
                <auto-complete source="allSystems($query)" min-length="2"></auto-complete>
            </tags-input>
        </div>

        <div class="form-group row">
            <label for="fromSystemRadius" class="col-sm-2 col-form-label">From Jump Radius</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.fromSystemRadius" id="fromSystemRadius">
            </div>

            <label for="maxCash" class="col-sm-1 col-form-label">Max Cash</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.maxCash" id="maxCash">
            </div>
            <label for="minSecurity" class="col-sm-1 col-form-label">Minimum Security</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.minSecurity" id="minSecurity">
            </div>

        </div>

        <div class="form-group row">
            <label for="maxCapacity" class="col-sm-2 col-form-label">Max Cargo Capacity</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.maxCapacity" id="maxCapacity">
            </div>

            <label for="minProfit" class="col-sm-1 col-form-label">Minimum Profit</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.minProfit" id="minProfit">
            </div>

            <label for="maxJumps" class="col-sm-1 col-form-label">Max Jumps</label>

            <div class="col-sm-2">
                <input class="form-control" ng-model="constraints.maxJumps" id="maxJumps">
            </div>

            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary pull-right" ng-click="refresh()">Go!</button>
            </div>
        </div>
    </div>

</form>

<!--
maxCash: 30000000, // Max available cash for trading
maxJumps: 10, // Max jumps
maxCapacity: 5100, // Cubic meters available for hauling
minProfit: 100000, // Minimum profit per trade (units * price diff)
regions: 'Metropolis, Heimatar, Derelik, Molden Heath', // Region names included in the search
fromSystems: 'Rens',
fromSystemRadius: 0, // Radius (in jumps) from the 'fromSystems' array.
minSecurity: 0 // Minimum security status of from/to system.
-->
