<navbar/>
<div class="container">
    <div class="row"/>
    <form class="form-horizontal">
        <div class="container">
            <div class="form-group row">
                <label for="type" class="col-sm-2 control-label">Type Name</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="typeName" id="typeName" placeHolder="Partial text to search" autocomplete="on">
                </div>
              <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary pull-right" ng-click="go()" autofocus>Go!</button>
              </div>
            </div>
        </div>    
    </form>
</div>

<div class="container">

    <table ng-show="data.length > 0" class="table table-striped table-hover" ng-if="!loading">
        <thead class="thead-inverse">
        <tr>
            <th><a href="" ng-click="setSortField('id'); toggleOrder()">Id</a></th>
            <th><a href="" ng-click="setSortField('group'); toggleOrder()">Group</a></th>
            <th>Icon</th>
            <th><a href="" ng-click="setSortField('name'); toggleOrder()">Name</a></th>
            <th><a href="" ng-click="setSortField('volume'); toggleOrder()">Volume [m3]</a></th>
            <th><a href="" ng-click="setSortField('mass'); toggleOrder()">Mass [kg]</a></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="type in data | orderBy:sortField:sortOrder">
            <th><a target=_blank href="#/orders?type={{type.type_id}}">{{type.type_id}}</a></th>
            <td>{{type.group}}</td>
            <td><img src="https://image.eveonline.com/Type/{{type.type_id}}_32.png"/> </td>
            <td><span tooltips tooltip-class="description-tooltip" tooltip-template="{{type.description}}">{{type.name}}</td>
            <td>{{type.volume}}</td>
            <td>{{type.mass}}</td>
        </tr>
        </tbody>
    </table>
    <img ng-if="loading" src="http://bestanimations.com/Music/Dancers/happy-dance/happy-dance-animated-gif-image-1-2.gif"
         class="img-responsive center-block"/>
</div>
