<table ng-show="trades.length > 0" class="table table-striped table-hover" ng-if="!loader">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th><a href="" ng-click="setSortField('profit'); toggleOrder()">Profit (ISK)</a></th>
        <th style="min-width:100px"><a href="" ng-click="setSortField('jumps'); toggleOrder()">Route</a></th>
        <th><a href="" ng-click="setSortField('routeTime'); toggleOrder()">Travel Time</a></th>
        <th><a href="" ng-click="setSortField('profitPerMinute'); toggleOrder()">Profit / Minute</a></th>
        <th><a href="" ng-click="setSortField('profitPercent'); toggleOrder()">Profit Margin</a></th>
        <th><a href="" ng-click="setSortField('type.name'); toggleOrder()">Item</a></th>
        <th><a href="" ng-click="setSortField('units'); toggleOrder()">Units</a></th>
        <th><a href="" ng-click="setSortField('totalVolume'); toggleOrder()">Volume</a></th>
        <th><a href="" ng-click="setSortField('buy.station.name'); toggleOrder()">From Station</a></th>
        <th><a href="" ng-click="setSortField('sell.station.name'); toggleOrder()">To Station</a></th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="trade in trades | orderBy:sortField:sortOrder">
        <th>{{$index + 1}}</th>
        <td> <span tooltips tooltip-class="trade-tooltip"
                   tooltip-template="Buy: {{trade.buy.price * trade.units | numeraljs}} @ {{trade.buy.price | numeraljs}} ISK<br>
             Sell: {{trade.sell.price * trade.units | numeraljs}} @ {{trade.sell.price | numeraljs}} ISK<br>
             Tax: {{ 0.02 * trade.sell.price * trade.units | numeraljs}} ISK">
                {{trade.profit | numeraljs}}     
             </span>
        </td>
        <td>{{trade.jumps}} : <span ng-repeat="system in trade.route">
            <span tooltips
                  tooltip-template="<div>{{system.systemName}} ({{system.security | numeraljs:'0.00'}}) </div>
                  <div>{{system.stats.podKills > 0 ? system.stats.podKills + ' Pods' : ''}}</div> 
                  <div>{{system.regionName}}</div>"
                  style="color:{{getSecurityColor(system.security)}}; 
                  {{system.stats.podKills > 0 ? 'text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;' : ''}}"
                  class="route glyphicon glyphicon glyphicon-stop"
                  aria-hidden="true"></span></span></td>
        <td>{{trade.routeTime | numeraljs:'00:00:00'}}</td>
        <td><span tooltips tooltip-template="{{trade.profitPerJump | numeraljs}} ISK per Jump">
            {{trade.profitPerMinute | numeraljs}} </span></td>
        <td>{{trade.profitPercent | numeraljs:'0.00%'}}</td>
        <td><a href="/#/orders?type={{trade.type.id}}" target="_blank">{{trade.type.name}}</a>
        </td>
        <td>{{trade.units | numeraljs}}</td>
        <td>{{trade.totalVolume | numeraljs:'0.0'}}</td>
        <td><span tooltips tooltip-template="{{trade.buy.station.region}}">{{trade.buy.station.name}}</span></td>
        <td><span tooltips tooltip-template="{{trade.sell.station.region}}">{{trade.sell.station.name}}</span></td>
    </tr>
    </tbody>
</table>
<img ng-if="loader" src="http://bestanimations.com/Music/Dancers/happy-dance/happy-dance-animated-gif-image-1-2.gif"
     class="img-responsive center-block"/>